h2 {
  font-size: 33px;
  font-family: 'Pavanam';
  color: floralwhite; }

h3 {
  text-align: center;
  padding-top: 20px;
  font-size: 20px;
  font-family: 'Pavanam'; }

h4 {
  font-family: 'Pavanam';
  font-size: 18px; }

p {
  font-family: "Gilda Display";
  font-size: 17px; }

.header {
  display: flex;
  background-color: rgba(255, 155, 88, 0.1); }
  .header .logo {
    width: 33.3%;
    margin: 10px; }
    .header .logo img {
      height: 100px;
      width: 100px;
      border-radius: 60px;
      border: .75px solid black; }
  .header .nav {
    width: 66.7%;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    .header .nav .nav-list {
      display: flex; }
      .header .nav .nav-list li {
        margin: 10px; }

.intro {
  display: flex;
  align-items: center;
  flex-direction: column; }
  .intro img {
    width: 100%;
    margin: 0 auto; }
  .intro h1 {
    margin: 100px 0px 50px 0px; }
  .intro .intro-1 {
    position: absolute;
    top: 160px; }
  .intro .intro-2 {
    position: absolute;
    top: 200px; }
  .intro .intro-header {
    left: 50%;
    animation-duration: 20s;
    animation-name: slidein;
    animation-iteration-count: infinite; }

@keyframes slidein {
  from { }
  50% {
    left: 52%; }
  to {
    left: 50%; } }

.skills {
  background-color: rgba(255, 155, 88, 0.1); }
  .skills .web-skills li {
    display: flex;
    align-items: center; }
    .skills .web-skills li .skill-left {
      width: 40%;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .skills .web-skills li .skill-left .skill-pic {
        height: 100px;
        width: 100px;
        background-color: rgba(145, 150, 160, 0.329);
        border-radius: 50px; }
        .skills .web-skills li .skill-left .skill-pic img {
          margin: 15px; }
    .skills .web-skills li .skill-right {
      width: 56%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2%;
      text-align: center; }
  .skills .web-skills h4 {
    text-align: center; }

.video {
  width: 100%; }

.project-title {
  text-align: center;
  padding-bottom: 2%;
  font-size: 30px; }

.project-desc {
  text-align: center;
  padding: 10px 30px 10px 30px;
  font-size: 20px; }

.project-details {
  padding: 0px 25px; }
  .project-details .project-tech-list {
    display: flex;
    flex-wrap: wrap;
    text-align: center; }
    .project-details .project-tech-list .project-tech-list-item {
      width: 33.33%;
      padding: 10px 0px;
      font-size: 20px; }

.project-links {
  display: flex;
  justify-content: space-around;
  padding-top: 15px;
  margin-top: 15px;
  border-top: 1px solid black;
  font-size: 20px; }

.project-part {
  display: flex;
  height: 100px;
  align-items: center; }
  .project-part a {
    width: 50%;
    display: flex;
    justify-content: center; }
  .project-part .project-background {
    height: 100px;
    width: 100px; }
  .project-part .project-dFox {
    background: url("../images/projectPics/danielFox/danielFoxTest.jpeg") no-repeat 0;
    background-size: contain; }

.modal {
  max-width: none !important;
  vertical-align: top !important;
  width: 100% !important;
  padding: 15px 0px !important;
  background-color: #f2f7ff !important; }

.project-pic img {
  max-width: 100%; }

.footer {
  background-color: lightpink; }
  .footer .copyright {
    text-align: center; }
