.header {
  display: flex;
  background-color: lightcyan; }
  .header .logo {
    width: 33.3%;
    margin: 10px; }
    .header .logo img {
      height: 110px;
      width: 110px;
      border-radius: 60px;
      border: .75px solid black; }
  .header .nav {
    width: 66.7%;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    .header .nav .nav-list {
      display: flex; }
      .header .nav .nav-list li {
        margin: 10px; }

.intro {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: lightgreen;
  height: 300px; }
  .intro h1 {
    margin: 100px 0px 50px 0px; }

.skills {
  background-color: lightgray; }
  .skills .web-skills li {
    display: flex;
    align-items: center; }
    .skills .web-skills li .skill-left {
      width: 40%;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .skills .web-skills li .skill-left .skill-pic {
        height: 75px;
        width: 75px; }
    .skills .web-skills li .skill-right {
      width: 60%;
      display: flex;
      flex-direction: column;
      align-items: center; }
  .skills .web-skills h4 {
    text-align: center; }

h3 {
  text-align: center;
  padding-top: 20px;
  font-size: 20px;
  font-family: 'Pavanam'; }

.project-title {
  text-align: center;
  padding-bottom: 2%;
  font-size: 30px; }

.project-desc {
  text-align: center;
  padding: 10px 30px 10px 30px;
  font-size: 20px; }

.project-details {
  padding: 0px 25px; }
  .project-details .project-tech-list {
    display: flex;
    flex-wrap: wrap;
    text-align: center; }
    .project-details .project-tech-list .project-tech-list-item {
      width: 33.33%;
      padding: 10px 0px;
      font-size: 20px; }

.project-links {
  display: flex;
  justify-content: space-around;
  padding-top: 15px;
  margin-top: 15px;
  border-top: 1px solid black;
  font-size: 20px; }

.project-part {
  display: flex;
  height: 100px;
  align-items: center; }
  .project-part a {
    width: 50%;
    display: flex;
    justify-content: center; }
  .project-part .project-background {
    height: 100px;
    width: 100px; }
  .project-part .project-dFox {
    background: url("../images/projectPics/danielFox/danielFoxTest.jpeg") no-repeat 0;
    background-size: contain; }

.modal {
  max-width: none !important;
  vertical-align: top !important;
  width: 100% !important;
  padding: 15px 0px !important;
  background-color: #f2f7ff !important; }

.project-pic img {
  max-width: 100%; }

.footer {
  background-color: lightpink; }
  .footer .copyright {
    text-align: center; }
