body {
  background-color: rgba(255, 155, 88, 0.075); }

a {
  text-decoration: none;
  color: black; }

h2 {
  font-size: 24px;
  font-family: "Offside";
  color: midnightblue;
  font-weight: 700;
  letter-spacing: 0.4px; }

h3 {
  text-align: center;
  padding-top: 20px;
  font-size: 20px;
  font-family: "Offside";
  font-weight: 700; }

h4 {
  font-family: "Offside";
  font-size: 17px;
  line-height: 1.1;
  font-weight: 700; }

p {
  font-family: "Gilda Display";
  font-size: 16px;
  line-height: 1.4;
  font-weight: 700; }

.header {
  display: flex; }
  .header .logo {
    width: 33.3%;
    margin: 10px; }
    .header .logo img {
      height: 100px;
      width: 100px;
      border-radius: 60px;
      border: 0.75px solid black; }
  .header .nav {
    width: 66.7%;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    .header .nav .nav-list {
      display: flex; }
      .header .nav .nav-list li {
        margin: 10px; }

.intro {
  display: flex;
  align-items: center;
  flex-direction: column; }
  .intro img {
    width: 100%;
    margin: 0 auto;
    opacity: 0.7; }
  .intro h1 {
    margin: 100px 0px 50px 0px; }
  .intro .intro-1 {
    position: absolute;
    top: 160px; }
  .intro .intro-2 {
    position: absolute;
    top: 200px; }
  .intro .intro-header {
    left: 42%;
    animation-duration: 20s;
    animation-name: slidein;
    animation-iteration-count: infinite; }

@keyframes slidein {
  from { }
  50% {
    left: 45%; }
  to {
    left: 42%; } }

.skills .web-skills li {
  display: flex;
  align-items: center;
  padding: 15px 15px; }
  .skills .web-skills li .skill-left {
    width: 36%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .skills .web-skills li .skill-left .skill-pic {
      height: 100px;
      width: 100px;
      background-color: darkseagreen;
      border-radius: 50px;
      margin-bottom: 10px; }
      .skills .web-skills li .skill-left .skill-pic img {
        margin: 15px; }
  .skills .web-skills li .skill-right {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    text-align: center; }
    .skills .web-skills li .skill-right p {
      margin: 5%; }

.skills .web-skills h4 {
  text-align: center; }

.video {
  width: 100%; }

.projects-header {
  padding: 10px 0px; }

.project-title {
  text-align: center;
  padding-bottom: 2%;
  font-size: 30px;
  text-decoration: underline;
  letter-spacing: 2px; }

.project-desc {
  text-align: center;
  padding: 10px 30px 10px 30px;
  font-size: 20px; }

.project-details {
  padding: 0px 25px; }
  .project-details .project-tech-list {
    display: flex;
    flex-wrap: wrap;
    text-align: center; }
    .project-details .project-tech-list .project-tech-list-item {
      width: 33.33%;
      padding: 15px 0px;
      font-size: 20px; }

.project-links {
  display: flex;
  justify-content: space-around;
  padding-top: 15px;
  margin: 15px 20px;
  border-top: 1px solid black;
  font-size: 20px; }

.project-part {
  display: flex;
  height: 110px;
  align-items: center; }
  .project-part .project-part-title {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center; }
    .project-part .project-part-title h4 {
      margin-bottom: 10px; }
    .project-part .project-part-title p {
      font-style: italic;
      font-size: 15px; }
  .project-part .project-part-image {
    width: 40%;
    display: flex;
    justify-content: center; }
  .project-part .project-1 {
    background: url("../images/projectPics/danielFox/DanielFoxMockup.jpeg") no-repeat 0; }
  .project-part .project-2 {
    background: url("../images/projectPics/mailMonkey/MailMonkeyMockup.jpeg") no-repeat 0; }
  .project-part .project-3 {
    background: url("../images/projectPics/kindred/KindredMockup.jpeg") no-repeat 0; }
  .project-part .project-4 {
    background: url("../images/projectPics/brainfit/BrainfitMockup.jpeg") no-repeat 0; }
  .project-part .project-5 {
    background: url("../images/projectPics/boomtown/BoomtownMockup.jpeg") no-repeat 0; }
  .project-part .project-6 {
    background: url("../images/projectPics/danielFox/DanielFoxMockup.jpeg") no-repeat 0; }
  .project-part .project-7 {
    background: url("../images/projectPics/danielFox/DanielFoxMockup.jpeg") no-repeat 0; }
  .project-part .project-8 {
    background: url("../images/projectPics/danielFox/DanielFoxMockup.jpeg") no-repeat 0; }
  .project-part .project-9 {
    background: url("../images/projectPics/danielFox/DanielFoxMockup.jpeg") no-repeat 0; }
  .project-part .project-10 {
    background: url("../images/projectPics/danielFox/DanielFoxMockup.jpeg") no-repeat 0; }
  .project-part .project-background {
    height: 90px;
    width: 120px;
    background-size: contain;
    border: 1.5px solid lightgray; }

.modal {
  max-width: none !important;
  vertical-align: top !important;
  width: 100% !important;
  padding: 15px 0px !important;
  background-color: whitesmoke !important; }

.project-pic img {
  max-width: 100%; }

.footer {
  background-color: lightpink; }
  .footer .copyright {
    text-align: center; }
