//GLOBAL STLYES

    h2 {
        font-size: 33px;
        font-family: 'Pavanam';
        color: floralwhite;
    }

    h3 {
        text-align: center;
        padding-top: 20px;
        font-size: 20px;
        font-family: 'Pavanam';
    }

    h4 {
        font-family: 'Pavanam';
        font-size: 18px;
    }

    p {
        font-family: "Gilda Display";
        font-size: 17px;
    }

//HEADER STYLES

.header {

    display: flex;
    background-color: rgba(255, 155, 88, 0.1);

    .logo {

        width: 33.3%;
        margin: 10px;

        img {
            height: 100px;
            width: 100px;
            border-radius: 60px ;
            border: .75px solid black;
        }
    }

    .nav {
        width: 66.7%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .nav-list {
            display: flex;
            
            li {
                margin: 10px;
            }
        }
    }
}


//INTRO STYLES
//Parallax Scrolling: https://www.w3schools.com/howto/howto_css_parallax.asp
.intro {
    display: flex;
    align-items: center;
    flex-direction: column;

    img {
        width: 100%;
        margin: 0 auto;
    }

    h1 {
        margin: 100px 0px 50px 0px;
    }

    .intro-1 {
        position: absolute;
        top: 160px;
    }

    .intro-2 {
        position: absolute;
        top: 200px;
    }

        .intro-header {
        left: 50%;
        animation-duration: 20s;
        animation-name: slidein;
        animation-iteration-count: infinite;
    }
          
        @keyframes slidein {
            from {
            }
            
            50% {
                left: 52%;
            }

            to {
                left: 50%;
            }
        }
}

.skills {
    background-color: rgba(255, 155, 88, 0.1);

    .web-skills {

        li {
            display: flex;
            align-items: center;

            .skill-left {

                width: 40%;
                display: flex;
                flex-direction: column;
                align-items: center;

                .skill-pic {
                    height: 100px;
                    width: 100px;
                    background-color: rgba(145, 150, 160, 0.329);
                    border-radius: 50px;

                    img {
                        margin: 15px;
                    }
                }
            }

            .skill-right {
                width: 56%;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 2%;
                text-align: center;
            }
        }

        h4 {
            text-align: center;
        }
    }
}

//Video Styles

.video {
    width: 100%;
}


//PROJECT STYLES

    .project-title {
        text-align: center;
        padding-bottom: 2%;
        font-size: 30px;
    }

    .project-desc {
        text-align: center;
        padding: 10px 30px 10px 30px;
        font-size: 20px;  
    }

    .project-details {
        padding: 0px 25px; 

        .project-tech-list { 

            display: flex;
            flex-wrap: wrap;
            text-align: center;
            

            .project-tech-list-item {
                width: 33.33%;
                padding: 10px 0px;
                font-size: 20px;
            }
        }
    }

    .project-links {
        display: flex;
        justify-content: space-around;
        padding-top: 15px;
        margin-top: 15px;
        border-top: 1px solid black;
        font-size: 20px;
    }

    .project-part {
        display: flex;
        height: 100px;
        align-items: center;

        a {
            width: 50%;
            display: flex;
            justify-content: center;
        }

        .project-background {
            height: 100px;
            width: 100px;
        }

        .project-dFox {
            background: url('../images/projectPics/danielFox/danielFoxTest.jpeg') no-repeat 0;
            background-size: contain;
        }
    }

    .modal {
        max-width: none !important;
        vertical-align: top !important;
        width: 100% !important; //90% on desktop
        padding: 15px 0px !important;
        background-color: #f2f7ff !important;
    }

    .project-pic {
        img {
            max-width: 100%;
        }
    }


//FOOTER STYLES
.footer {
    background-color: lightpink;

    .copyright {

        text-align: center;

    }
}